@{
    ViewData["Title"] = "Início";
}

<div class="text-center title-home">
    <h1 class="display-4">Desafio</h1>
    <p><a asp-controller="News" asp-action="Index">clique aqui</a> e comece a explorar o sistema.</p>
</div>
